
.icon {

  &_benefits-education {
    width: 56px;
    height: 64px;
  }

  &_benegits-office {
    width: 62px;
    height: 62px;
  }

  &_benefits-corporate-holiday {
    width: 48px;
    height: 61px;
  }

  &_benefits-health {
    width: 42px;
    height: 52px;
  }
}
